@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1a1c1c;
  background: #f9f9f9;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
